# --- EXTRACT: APIs & Data Ingestion ---
pystac-client
planetary-computer
requests

# --- TRANSFORM: Matrix Math & Geospatial Processing ---
numpy
pandas
geopandas
stackstac
xarray
rioxarray
rasterio
shapely

# --- LOAD: Spatial Database Architecture ---
SQLAlchemy
GeoAlchemy2
psycopg2-binary

# --- PRESENT: Visualization & Reporting ---
matplotlib